* {
    background-color: rgb(12, 9, 9);
    color: azure;
    font-family: JetBrains Mono;
    text-decoration: none;
}

.navbar {
    width: min-content;
    text-align: center;
    border: 1px solid azure;
    border-radius: 3em;
    padding: 1%;
    z-index: 10;
    position: fixed;
    top: 30vh;
    background-color: transparent;
    backdrop-filter: blur(7px);
    padding-top: 2%;
    padding-bottom: 2%;

}

.navbar hr {
    width: 5vh;
    height: 1%;
    border-color: rgb(172, 172, 172);
}

.navbar .navH1 {
    display: flex;
    justify-content: space-around;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 1.25em;
    background-color: transparent;
    backdrop-filter: blur(7px);
}

.navDiv {
    background-color: transparent;
}

.navbar:hover {
    background-color: azure;
}

.navbar:hover .navH1 {
    background-color: azure;
    color: rgb(12, 9, 9);
}

#navHomeH1:hover {
    color: rgb(39, 130, 221);
    font-weight: 1000;
}

#navAboutH1:hover {
    color: rgb(39, 130, 221);
    font-weight: 1000;
}

#navProjectsH1:hover {
    color: rgb(39, 130, 221);
    font-weight: 1000;
}

#navSkillsH1:hover {
    color: rgb(39, 130, 221);
    font-weight: 1000;
}

#navCaseStudyH1:hover {
    color: rgb(39, 130, 221);
    font-weight: 1000;
}

#navConnectH1:hover {
    color: rgb(39, 130, 221);
    font-weight: 1000;
}

.rocketImg {
    width: 25vh;
    height: 50vh;
    z-index: 1;
    position: absolute;
    top: 25vh;
    right: 20vh;
    background-color: transparent;
    overflow: hidden;
    animation: appear 0.5s linear;
    animation-timeline: view(10vh);
    margin: auto;
}

.rocketImg {
    animation: exit 0.5s linear;
    animation-timeline: view(10vh);
}

@keyframes appear {
    from {
        opacity: 0;
        top: 75vh;
    }

    to {
        opacity: 1;
        top: 25vh;
    }
}

@keyframes exit {
    from {
        top: 75vh;
    }

    to {
        top: 25vh;
    }
}

.hero {
    z-index: 1;
    text-align: left;
    margin-top: 45vh;
    width: max-content;
    margin-left: 20vh;
    padding-bottom: 5%;
}

.heroH1 {
    font-size: 5em;
}

.iAmCylceDiv {
    display: flex;
    color: rgb(172, 172, 172);
    width: 80vh;
}

.heroH2 {
    padding-right: 0.8em;

}

#iAmCycle {
    text-decoration: underline;
}

.heroH3 {
    color: rgb(172, 172, 172);
}

.heroButtons {
    padding-top: 10vh;
    display: flex;
    justify-content: space-between;
    width: 40vh;
}

.heroProjects {
    border: 1px solid azure;
    border-radius: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1.5vh;
    transition: scale 0.2s ease-in-out;
}

.heroViewProjects {
    height: fit-content;
    transition: scale 0.2s ease-in-out;
}

.heroConnect {
    border: 1px solid azure;
    border-radius: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1.5vh;
    width: 10vh;
    text-align: center;
    transition: scale 0.2s ease-in-out;
}

.heroConnectH2 {
    transition: scale 0.2s ease-in-out;
}

.heroProjects:hover {
    background: linear-gradient(156deg, rgba(69, 162, 255, 1) 0%, rgba(12, 9, 9, 1) 64%);
    border-color: black;
    scale: 1.15;
}

.heroProjects:hover .heroViewProjects {
    background: transparent;
    scale: 1.15;
}

.heroConnect:hover {
    background: linear-gradient(156deg, rgba(69, 162, 255, 1) 0%, rgba(12, 9, 9, 1) 64%);
    border-color: black;
    scale: 1.15;
}

.heroConnect:hover .heroConnectH2 {
    background: transparent;
    scale: 1.15;

}

html {
    scroll-behavior: smooth;
}

.heroH2Button {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    font-size: 2em;
}

.aboutMeHome {
    display: flex;
    padding-bottom: 11vh;
    padding-top: 11vh;
}

.aboutMeHomeText {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    text-align: right;
    z-index: 1;
}

.navAboutTitle {
    font-size: 2.5vh;
    color: rgb(39, 130, 221);
    font-style: oblique;
    font-weight: 1000;
    margin-right: 50vh;
    text-align: left;
}

.aboutMeHomeTitle {
    text-align: left;
}

.aboutMeHomeContent {
    text-align: left;
    margin-right: 5vh;
    width: fit-content;
}

.aboutMeHomeExtra {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
}

.aboutMeHomeExtra div {
    border: 1px solid azure;
    border-radius: 2vh;
    width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vh;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 15vh;
}

.aboutMeHomeFocus {
    font-weight: 1000;
}

.aboutMeHomeLearning {
    font-weight: 1000;
}

.aboutMeHomeGoal {
    font-weight: 1000;
}

.aboutMeHomeH2 {
    font-weight: lighter;
    font-size: 2em;
}

.aboutMeHomeExtra hr {
    width: 50%;
}

.aboutMeTextExtra {
    display: flex;
    flex-direction: column;
    z-index: 4;
    margin-left: 15vh;
    padding-top: 10vh;
}

.aboutMePic {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.aboutMePic img {
    width: 25%;
    height: 70%;
    border-radius: 2em;
}

.planeImg {
    width: fit-content;
    height: fit-content;
    scale: 1.5;
    padding-top: 8vh;
    animation: slide 1s linear;
    animation-timeline: view(15vh);
    animation-range: entry;
    margin: auto;
    background-color: transparent;
    padding-left: 10vh;
}

@keyframes slide {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(10px);
    }
}

.navProjectsTitle {
    font-size: 2.5vh;
    color: rgb(39, 130, 221);
    font-style: oblique;
    font-weight: 1000;
    margin-right: 20vh;
    text-align: right;
    padding-right: 2%;
}

.projectsHomeTitle {
    text-align: right;
    padding-right: 2%;
}

.projectsHome {
    padding-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-around;
    margin-left: 10vh;
    margin-right: 5vh;
}

.projectsHome a {
    border: 1px solid azure;
    padding: 1%;
    border-radius: 2vh;
    text-align: center;
    width: 50vh;
    height: fit-content;
}

.projectsHome img {
    width: 100%;
    height: 50%;
}

.dblClickProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.navSkillsTitle {
    padding-top: 1vh;
    font-size: 2.5vh;
    color: rgb(39, 130, 221);
    font-style: oblique;
    font-weight: 1000;
    margin-right: 20vh;
    text-align: left;
    padding-left: 8%;
}

.skillsHomeTitle {
    text-align: left;
    padding-left: 8%;
}

.skillsHome H1 {
    margin: 0;
}

.skillsHome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1%;
}

.skillsHome div {
    width: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(12, 9, 9);
}

.pythonSkill {
    background-color: azure;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 75vh;
    padding-top: 1%;
    margin-top: 5vh;
}

.htmlSkill {
    background-color: azure;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 80vh;
    padding-top: 1%;
}

.cssSkill {
    background-color: azure;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 70vh;
    padding-top: 1%;
    margin-top: 10vh;
}

.javaScriptSkill {
    background-color: azure;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 50vh;
    padding-top: 1%;
    margin-top: 30vh;
}

.cadSkill {
    background-color: azure;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1%;
    padding-bottom: 80vh;
}

.navConnectTitle {
    font-size: 2.5vh;
    color: rgb(39, 130, 221);
    font-style: oblique;
    font-weight: 1000;
    margin-right: 16vh;
    text-align: center;
}

.connectHome {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 50vh;
}

.connectHomeTitle {
    text-align: center;
}

.connectHomeContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    margin-top: 5vh;
    width: fit-content;
    margin-left: 51vh;
    z-index: 1;
    height: fit-content;
    position: relative;
    top: -12vh;

}

#linkedInLogo {
    width: 10vh;
    height: 10vh;
    padding-bottom: 1vh;
}

#githubLogo {
    width: 10vh;
    height: 10vh;
    padding-top: 1vh;
}

#gmailLogo {
    width: 10vh;
    height: 8vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}



.connectPic .headshot {
    width: 25vh;
    height: fit-content;
    z-index: 10;
    position: relative;
    top: 20vh;
    left: 75vh;
    border-radius: 5vh;
}

.connectPic {
    height: 0px;
    position: relative;
    top: -10vh;
    background-color: transparent;
}

.gmailConnectBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    margin-bottom: 50vh;
    width: 99%;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 1px solid azure;
    border-radius: 2vh;
    width: 60vh;
    height: fit-content;
    align-items: center;
}

.form {
    width: 50vh;
    height: 6vh;
    border-radius: 2vh;
    border: 2px solid azure;
    background-color: transparent;
    color: azure;
    padding-left: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2vh;
}



#formButton {
    width: 20vh;
    height: 5vh;
    border-radius: 1vh;
    border: 1px solid azure;
    background-color: transparent;
    color: azure;
    padding-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2vh;
}

#formButton:hover {
    background: linear-gradient(156deg, rgba(69, 162, 255, 1) 0%, rgba(12, 9, 9, 1) 64%);
    border-color: azure;
    scale: 1.1;
}

.footerH1 {
    text-align: left;
    padding-top: 5vh;
    padding-bottom: 1vh;
    font-size: 2.5vh;
}

.footerH2 {
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2vh;
}

.sourcesH1 {
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2.5vh;
}

.sourcesLi {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2vh;
}

.footer {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.footerHR {
    margin-top: 20vh;
}