* {
    background-color: rgb(12, 9, 9);
    color: azure;
    font-family: JetBrains Mono;
}

.navbar {
    border: 2px solid azure;
    border-radius: 10em;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 55%;
    margin-top: 15%;
    margin-right: 95%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 35%;
    z-index: 1000;
}

.navbar #iconDark {
    display: none;
}

.navbar .navHomeH2 {
    display: none;
}

.navbar .navAboutH2 {
    display: none;
}

.navbar .navProjectsH2 {
    display: none;
}

.navbar .navContactH2 {
    display: none;
}

.navbar:hover {
    color: rgb(12, 9, 9);
    background-color: azure;
}

.navbar:hover #iconLight {
    display: none;
}

.navbar:hover #iconDark {
    border: 2px solid azure;
    border-radius: 10em;
    text-align: left;
    padding: 50%;
    padding-left: 20%;
    display: flex;
    height: 50%;
    width: 50%;
}

.navbar img {
    padding: 50%;
    padding-left: 25%;
    height: 50%;
    width: 50%;
}

.navbar:hover img {
    color: rgb(12, 9, 9);
    background-color: azure;
}

.navbar:hover div {
    color: rgb(12, 9, 9);
    background-color: azure;
}